<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Root>
    <loadYoutubeVideosByAllUrl value="https://www.googleapis.com/youtube/v3/search?pageToken=%s&amp;order=%s&amp;maxResults=20&amp;type=video&amp;videoEmbeddable=true&amp;part=snippet&amp;key=AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs" />
    <loadYoutubeVideosByCategoryUrl value="https://www.googleapis.com/youtube/v3/search?videoCategoryId=%s&amp;pageToken=%s&amp;order=%s&amp;maxResults=20&amp;type=video&amp;videoEmbeddable=true&amp;part=snippet&amp;key=AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs" />
    <loadYoutubeVideosByCategoryAndTimeUrl value="https://www.googleapis.com/youtube/v3/search?videoCategoryId=%s&amp;pageToken=%s&amp;order=%s&amp;publishedAfter=%s&amp;maxResults=20&amp;type=video&amp;videoEmbeddable=true&amp;part=snippet&amp;key=AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs" />
    <loadYoutubeVideosByAllCategoriesAndTimeUrl value="https://www.googleapis.com/youtube/v3/search?pageToken=%s&amp;order=%s&amp;publishedAfter=%s&amp;maxResults=20&amp;type=video&amp;videoEmbeddable=true&amp;part=snippet&amp;key=AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs" />
    <searchVideoUrl value="https://www.googleapis.com/youtube/v3/search?q=%s&amp;pageToken=%s&amp;maxResults=50&amp;type=video&amp;videoEmbeddable=true&amp;part=snippet&amp;key=AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs" />
    <loadVideosInfoUrl value="https://www.googleapis.com/youtube/v3/videos?part=contentDetails,snippet,statistics&amp;id=%s&amp;key=AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs" />
    <youtubeDevID value="AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs" />
    <loadCommentsOfYoutubeUrl value="https://www.googleapis.com/youtube/v3/commentThreads?key=AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs&amp;videoId=%s&amp;part=snippet&amp;pageToken=%s&amp;maxResults=20"/>
    <loadRelatedOfYoutubeUrl value="https://www.googleapis.com/youtube/v3/search?part=snippet&amp;relatedToVideoId=%s&amp;pageToken=%s&amp;type=video&amp;videoEmbeddable=true&amp;maxResults=20&amp;key=AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs"/>
    <loadYoutubesOfChannelUrl value="https://www.googleapis.com/youtube/v3/search?part=snippet&amp;channelId=%s&amp;pageToken=%s&amp;maxResults=20&amp;type=video&amp;key=AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs"/>
    <loadSuggestionsUrl value="http://suggestqueries.google.com/complete/search?hl=vi&amp;client=youtube&amp;ds=yt&amp;q=%s"/>
    <searchChannelUrl value="https://www.googleapis.com/youtube/v3/search?type=channel&amp;pageToken=%s&amp;maxResults=20&amp;part=snippet&amp;q=%s&amp;key=AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs" />
    <loadChannelsInfoUrl value="https://www.googleapis.com/youtube/v3/channels?id=%s&amp;part=contentDetails,snippet,statistics&amp;key=AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs" />
    <loadSectionsOfChannelUrl value="https://www.googleapis.com/youtube/v3/channelSections?channelId=%s&amp;part=contentDetails,snippet&amp;key=AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs" />
    <userSinglePlaylistSectionMark value="singlePlaylist" />
    <channelVideosSectionMark value="recentUploads,popularUploads" />
    <allPlaylistsSectionMark value="allPlaylists" />
    <multiPlaylistsSectionMark value="multiplePlaylists" />
    <multiChannelsSectionMark value="multipleChannels" />
    <likesSectionMark value="likes" />
    <recentActivitySectionMark value="recentActivity" />
    <loadActivitiesInChannelUrl value="https://www.googleapis.com/youtube/v3/activities?pageToken=%s&amp;part=contentDetails,snippet&amp;channelId=%s&amp;maxResults=20&amp;key=AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs" />
    <loadPlaylistsDetailsUrl value="https://www.googleapis.com/youtube/v3/playlists?id=%s&amp;part=contentDetails,snippet&amp;key=AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs" />
    <loadPlaylistsInChannelUrl value="https://www.googleapis.com/youtube/v3/playlists?pageToken=%s&amp;part=contentDetails,snippet&amp;channelId=%s&amp;maxResults=%d&amp;key=AIzaSyAFdgjUKpIcWTHRwXq0T8eI1X48qwoXOcs" />
    <loadVideosInChannelSortByUrl value="https://www.googleapis.com/youtube/v3/search?pageToken=%s&amp;part=snippet&amp;channelId=%s&amp;maxResults=%d&amp;order=%s&amp;type=video&amp;key=AIzaSyABDcwfV2wHscHcvOFmiql91N8R6ALvCgs" />
    <loadVideosInChannelUrl value="https://www.googleapis.com/youtube/v3/search?pageToken=%s&amp;part=snippet&amp;channelId=%s&amp;maxResults=%d&amp;type=video&amp;key=AIzaSyABDcwfV2wHscHcvOFmiql91N8R6ALvCgs" />
    <loadVideosInPlaylistUrl value="https://www.googleapis.com/youtube/v3/playlistItems?pageToken=%s&amp;part=contentDetails&amp;videoEmbeddable=true&amp;playlistId=%s&amp;maxResults=20&amp;key=AIzaSyABDcwfV2wHscHcvOFmiql91N8R6ALvCgs" />


</Root>